
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
}

.year-month {
  font-size: 26px;
  text-align: center;
  font-weight: bold;
  color: #3F72AF;
}

.go-prev,.go-next {
  width: 24px;
  border: none;
  line-height: 34px;
  background-color: transparent;
  cursor: pointer;
  font-size: 32px;
  font-weight: bold;
}

.go-today {
  background-color: #112D4E;
  font-size: 16px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
}

.days {
  display: flex;
  margin: 10px 0 10px;
}

.day {
  width: calc(100% / 7);
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  color: #112D4E;
}

.dates {
  display: flex;
  flex-flow: row wrap;
  height: 12.5rem
}

.date {
  width: calc(100% / 7);
  padding: 0.625rem;
  text-align: center;
  font-size: 1.125rem;
  font-weight: bold;
  z-index: 0;
  color: #112D4E;
}

.day:nth-child(7n + 1),
.date:nth-child(7n + 1) {
  color: #d13e3e;
}


.other {
  opacity: 0.3;
}

.today {
  position: relative;
  color: #ffff;
}

.today::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  width: 52px;
  height: 52px;
  display: block;
  background-color: #112D4E;
  border-radius: 50%;
  content: '';
}
