.quote{
    margin: 12.5rem auto;
    padding: 10px;
    width: 75rem;
    height: 6.25rem;
}

.quote h3{
    color: cadetblue;
}

.quote p{
    color: rgb(57, 93, 95);
    font-size: 18px;
    font-weight: bold;
}