* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body{
    background-color: #fefef8;
  }
  header{
    display: flex; 
    height: 20vh;
  }

  main{
    display: flex;
    height: 80vh;

  }
  .weather{
    width: 10vw;
    background-color: #E8E8E8;
    margin: 50px 20px 15px 100px;
    border-radius: 10px;
  }
  .quote{
    width: 80vw;
    background-color: #E8E8E8;
    border-radius: 10px;

    margin: 50px 100px 20px 20px;
  }

  .cal {
    width: 65vw;
    margin: 20px 20px 70px 100px;
    background-color: #DBE2EF;
    padding: 30px;
    border-radius: 10px;

  }

  .todo{
    width: 30vw;
    margin: 20px 100px 70px 20px;
    background-color: #DBE2EF;
    border-radius: 10px;
  }
  

  .weather{
    width: 10vw;
    background-color: cadetblue;
    height: 20vh;
}

.quote{
  margin: auto;
  padding: 10px;
  width: 75rem;
  height: 6.25rem;
}

.quote h3{
  color: cadetblue;
}

.quote p{
  color: rgb(57, 93, 95);
  font-size: 18px;
  font-weight: bold;
}

.year-month-date {
  font-size: 30px;
  text-align: center;
  font-weight: bold;
  color: #3F72AF;
}

.todoInput{
  display: flex;
  padding: 20px;
}
.wtd{
  border-right: none;
  border-left: none;
  border-top: none; 
  border: 0 0 0 1px;
  background-color: transparent;
  margin: auto;
  height: 1.25rem;
}

.todos li{
list-style: none;
}