* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body{
    background-color: #F9F7F7;
  }
  header{
    display: flex;
    height: 20vh;
  }

  main{
    display: flex;
    height: 80vh;

  }
  .weather{
    width: 10vw;
    border: 1px solid #333;
    margin: 50px 20px 15px 100px;
  }
  .quote{
    width: 90vw;
    border: 1px solid #333;
    margin: 50px 100px 20px 20px;
  }

  .cal {
    width: 65vw;
    margin: 20px 20px 70px 100px;
    background-color: #DBE2EF;
    padding: 40px;
    border-radius: 10px;

  }

  .todo{
    width: 30vw;
    margin: 20px 100px 70px 20px;
    background-color: #DBE2EF;
    border-radius: 10px;
  }
  