.year-month-date {
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    color: #3F72AF;
  }

  .todo{
    display: flex;
  }
  .wtd{
    border-right: none;
    border-left: none;
    border-top: none;
    background-color: transparent;
    margin: auto;

  }

