.year-month-date {
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    color: #3F72AF;
  }

  .todoInput{
    display: flex;
    padding: 20px;
  }
  .wtd{
    border-right: none;
    border-left: none;
    border-top: none;
    background-color: transparent;
    margin: auto;
    height: 20px;
  }

.todos li{
  list-style: none;
}